body {
    background-color: rebeccapurple;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
.btn {
    position: relative;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 25px 60px;
    outline: none;
    color: #fff;
    background-color: rebeccapurple;
    transition: all .5s;
    overflow: hidden;
    z-index: 100;
}
